* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #222831;
  color: #00ADB5;
}

.split {
  width: 100%;
  z-index: 1;
  padding-top: 20px;
}

.top {
  top: 0;
}

.bottom {
  margin-top: 50px;
}

.title-container {
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.title {
  margin-bottom: 8px;
  position: relative;
  letter-spacing: 5px;
}

.title span {
  color: #EEEEEE;
}

.status-action {
  width: 20%;
  font-size: 20px;
  text-align: center;
  float: left;
  top: 50%;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
}

.x-status {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.x-status #x_wins {
  color: #EEEEEE;
  font-size: 30px;
}

.o-status {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.o-status #o_wins {
  color: #EEEEEE;
  font-size: 30px;
}

.games-played {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.games-played #games_played {
  color: #EEEEEE;
  font-size: 30px;
}

.container {
  position: absolute;
  background-color: #393E46;
  padding: 50px;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  margin-top: 50px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
}

.game-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  background: #00ADB5;
}

.game-cell {
  height: 150px;
  width: 150px;
  background: #393E46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.x::after {
  content: "x";
  font-size: 150px;
  -webkit-animation: x-animation 0.25s 1;
          animation: x-animation 0.25s 1;
}

@-webkit-keyframes x-animation {
  from {
    font-size: 0px;
  }
  to {
    font-size: 155px;
  }
}

@keyframes x-animation {
  from {
    font-size: 0px;
  }
  to {
    font-size: 155px;
  }
}

.o::after {
  content: "o";
  color: #EEEEEE;
  font-size: 150px;
  -webkit-animation: o-animation 0.25s 1;
          animation: o-animation 0.25s 1;
}

@-webkit-keyframes o-animation {
  from {
    font-size: 0px;
  }
  to {
    font-size: 155   px;
  }
}

@keyframes o-animation {
  from {
    font-size: 0px;
  }
  to {
    font-size: 155   px;
  }
}

.won::after {
  color: #EF4F4F;
}

.action {
  width: 20%;
  font-size: 20px;
  top: 50%;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
  float: right;
}

.action .reset {
  width: 180px;
  text-align: center;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #393E46;
  cursor: pointer;
  border-radius: 10px;
}

.action .reset:hover {
  background-color: #00ADB5;
  color: #393E46;
}

.action .play-again {
  width: 180px;
  text-align: center;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #393E46;
  cursor: pointer;
  border-radius: 10px;
}

.action .play-again:hover {
  background-color: #00ADB5;
  color: #393E46;
}

@media only screen and (max-width: 1000px) {
  .status-action {
    font-size: 15px;
  }
  .status-action #x_wins, .status-action #o_wins, .status-action #games_played {
    font-size: 25px;
  }
  .game-cell {
    height: 120px;
    width: 120px;
  }
  .action {
    font-size: 15px;
  }
  .action .reset, .action .play-again {
    width: 120px;
    padding: 15px;
  }
}

@media only screen and (max-width: 850px) {
  .status-action {
    font-size: 15px;
    width: 20%;
  }
  .status-action #x_wins, .status-action #o_wins, .status-action #games_played {
    font-size: 25px;
  }
  .container {
    width: 60%;
    float: right;
    top: 5%;
    left: 30%;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .game-cell {
    height: 100px;
    width: 100px;
    padding: 10px;
  }
  .action {
    width: 20%;
    font-size: 15px;
    -webkit-transform: translate(-85%, 200%);
            transform: translate(-85%, 200%);
    float: left;
  }
  .action .reset, .action .play-again {
    width: 120px;
    padding: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .status-action {
    font-size: 15px;
    width: 100%;
    height: 60%;
    -webkit-transform: translate(16%, 100%);
            transform: translate(16%, 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .status-action .x-status, .status-action .o-status, .status-action .games-played {
    margin-left: 10px;
    margin-right: 10px;
  }
  .status-action #x_wins, .status-action #o_wins, .status-action #games_played {
    font-size: 25px;
  }
  .container {
    margin-top: 80px;
    height: 50%;
    width: 500px;
    float: left;
    top: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .game-cell {
    height: 80px;
    width: 80px;
    padding: 10px;
  }
  .action {
    width: 100%;
    font-size: 15px;
    -webkit-transform: translate(38%, 50%);
            transform: translate(38%, 50%);
  }
  .action .reset, .action .play-again {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 120px;
    padding: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    height: 400px;
    width: 400px;
    float: left;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .game-cell {
    width: 100px;
    height: 100px;
  }
  .status-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(0%, 600%);
            transform: translate(0%, 600%);
  }
  .action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(0%, 450%);
            transform: translate(0%, 450%);
  }
}
/*# sourceMappingURL=style.css.map */