*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body
{
    font-family: sans-serif;
    background-color: #222831;
    color: #00ADB5;

    .title-container
    {
        text-align: center;
        position: absolute;

        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);

        .title
        {
            margin-bottom: 8px;
            position: relative;

            letter-spacing: 5px;

            span
            {
                color: #EEEEEE;
            }
        }
    }

    .status-action
    {
        font-size: 20px;
        .status
        {
            position: absolute;
            padding: 25px;
            top: 5%;
            left: 5%;
            transform: translate(-5%, 5%);
        }

        .x-status
        {
            position: absolute;
            padding: 25px;
            top: 15%;
            left: 5%;
            transform: translate(-5%, 5%);
        }

        .o-status
        {
            position: absolute;
            padding: 25px;
            top: 25%;
            left: 5%;
            transform: translate(-5%, 5%);
        }

        .games-played
        {
            position: absolute;
            padding: 25px;
            top: 35%;
            left: 5%;
            transform: translate(-5%, 5%);
        }

        .action
        {
            
            .reset
            {
                position: absolute;
                padding: 25px;
                padding-left: 45px;
                padding-right: 45px;
                top: 5%;
                right: 5%;
                transform: translate(-5%, 5%);
                background-color: #393E46;

                cursor: pointer;

                border-radius: 10px;
            }

            .reset:hover
            {
                background-color: #00ADB5;
                color: #393E46;  
            }

            .play-again
            {
                position: absolute;
                padding: 25px;
                top: 20%;
                right: 5%;
                transform: translate(-5%, -20%);
                background-color: #393E46;

                cursor: pointer;

                border-radius: 10px;
            }

            .play-again:hover
            {
                background-color: #00ADB5;
                color: #393E46;  
            }
        }
    }

    .container
    {
        position: absolute;
        background-color: #393E46;
        padding: 50px;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0%);

        border-radius: 25px;

        display: flex;
        justify-content: center;

        .game-grid
        {
            margin-top: 50px;

            display: grid;

            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);

            grid-gap: 15px;

            background: #00ADB5;

            .game-cell
            {
                height: 200px;
                width: 200px;

                background: #393E46;

                display: flex;
                justify-content: center;

                align-items: center;
                
                cursor: pointer;
            }

            .x::after
            {
                content: "×";
                font-size: 200px;

                animation: x-animation 0.25s 1;

                @keyframes x-animation
                {
                    from{font-size: 0px;}
                    to{font-size: 200px;}
                }
            }

            .o::after
            {
                content: "○";
                color: #EEEEEE;
                font-size: 225px;

                animation: o-animation 0.25s 1;

                @keyframes o-animation
                {
                    from{font-size: 0px;}
                    to{font-size: 200px;}
                }
            }

            .won::after
            {
                color: #EF4F4F;
            }
        }
    }
}