@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  background-color: #222831;
  color: #00ADB5;
}

body .title-container {
  text-align: center;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

body .title-container .title {
  margin-bottom: 8px;
  position: relative;
  letter-spacing: 5px;
}

body .title-container .title span {
  color: #EEEEEE;
}

body .status-action {
  font-size: 20px;
}

body .status-action .status {
  position: absolute;
  padding: 25px;
  top: 5%;
  left: 5%;
  -webkit-transform: translate(-5%, 5%);
          transform: translate(-5%, 5%);
}

body .status-action .x-status {
  position: absolute;
  padding: 25px;
  top: 15%;
  left: 5%;
  -webkit-transform: translate(-5%, 5%);
          transform: translate(-5%, 5%);
}

body .status-action .o-status {
  position: absolute;
  padding: 25px;
  top: 25%;
  left: 5%;
  -webkit-transform: translate(-5%, 5%);
          transform: translate(-5%, 5%);
}

body .status-action .games-played {
  position: absolute;
  padding: 25px;
  top: 35%;
  left: 5%;
  -webkit-transform: translate(-5%, 5%);
          transform: translate(-5%, 5%);
}

body .status-action .action .reset {
  position: absolute;
  padding: 25px;
  padding-left: 45px;
  padding-right: 45px;
  top: 5%;
  right: 5%;
  -webkit-transform: translate(-5%, 5%);
          transform: translate(-5%, 5%);
  background-color: #393E46;
  cursor: pointer;
  border-radius: 10px;
}

body .status-action .action .reset:hover {
  background-color: #00ADB5;
  color: #393E46;
}

body .status-action .action .play-again {
  position: absolute;
  padding: 25px;
  top: 20%;
  right: 5%;
  -webkit-transform: translate(-5%, -20%);
          transform: translate(-5%, -20%);
  background-color: #393E46;
  cursor: pointer;
  border-radius: 10px;
}

body .status-action .action .play-again:hover {
  background-color: #00ADB5;
  color: #393E46;
}

body .container {
  position: absolute;
  background-color: #393E46;
  padding: 50px;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .game-grid {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  background: #00ADB5;
}

body .container .game-grid .game-cell {
  height: 200px;
  width: 200px;
  background: #393E46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body .container .game-grid .x::after {
  content: "×";
  font-size: 200px;
  -webkit-animation: x-animation 0.25s 1;
          animation: x-animation 0.25s 1;
}

@-webkit-keyframes x-animation {
  from {
    font-size: 0px;
  }
  to {
    font-size: 200px;
  }
}

@keyframes x-animation {
  from {
    font-size: 0px;
  }
  to {
    font-size: 200px;
  }
}

body .container .game-grid .o::after {
  content: "○";
  color: #EEEEEE;
  font-size: 225px;
  -webkit-animation: o-animation 0.25s 1;
          animation: o-animation 0.25s 1;
}

@-webkit-keyframes o-animation {
  from {
    font-size: 0px;
  }
  to {
    font-size: 200px;
  }
}

@keyframes o-animation {
  from {
    font-size: 0px;
  }
  to {
    font-size: 200px;
  }
}

body .container .game-grid .won::after {
  color: #EF4F4F;
}
/*# sourceMappingURL=style.css.map */